@import 'utilities';
@import 'mobile';
@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

button:focus {
  outline: 0;
}

#root {
  height: 100vh;
}

// Join Component

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: $dark-background;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: $light-color;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid $light-color;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: $blue-background;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

// Chat Component

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $dark-background;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $light-color;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

// Info Bar

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $blue-background;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: $light-color;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

// Input

.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: $blue-background;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

// Message

.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: $light-color;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #228B22;
  letter-spacing: 0.3px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: $light-color;
}

.colorDark {
  color: $dark-color;
}

.backgroundBlue {
  background: $blue-background;
}

.backgroundLight {
  background: $light-background;
}

// Messages

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

// User List

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: $light-color;
  height: 60%;
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}